@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

@font-face {
  font-family: 'Euclid Circular B';
  src: url();
}

body {
    font-family: 'Euclid Circular B', sans-serif !important;
    width: 100%;
    overflow-x: hidden;
    }

    .navbar-content h3.ant-typography {
        font-weight: 500;
        font-size: 18px;
        color: #081459;
        cursor: pointer;
    }

    .navbar-content button.ant-btn {
        border: none;
        box-shadow: none;
        color: #414040;
        font-weight: 500;
        font-size: 1.2em;
        background: transparent;
    }

    .navbar-content svg {
    height: 22px;
    padding-top: 7px;
    }

    .welcome-content {
    background: #263dbf1f;
    height: 94vh;
    padding: 2em 7em;
    width: 100vw;
    }

    .ant-page-header.navbar-content {
    padding: 0.5em 7em;
    position: sticky;
    top: 0px;
    background: #fffffff5;
    z-index: 21;
    width: 100vw;
    }

    .welcome-content {
        background: #263dbf1f;
        height: 94vh;
        padding: 2em 7em;
      }

      .ant-page-header.navbar-content {
        padding: 0.5em 7em;
        position: sticky;
        top: 0px;
        background: #fffffff5;
        z-index: 21;
      }

      .welcome-content h1.ant-typography {
        color: #081459;
        font-size: 2em;
        width: 79%;
        margin-top: 4em;
        margin-bottom: 1em;
      }

      .welcome-content h3.ant-typography {
        color: #7A7575;
        font-weight: 500;
        font-size: 14px;
        width: 75%;
        margin-top: 1em;
      }
      .welcome-content button.ant-btn:hover {
        background: #081459;
        border: 1px solid #4f67b6;
      }

      .welcome-content button.ant-btn {
        background: #0420BF;
        color: white;
        width: 67%;
        margin-top: 3em;
        height: 4em;
        font-weight: bold;
      }

      .welcome-content .right-content{
        background: url('/images/welcome-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 74%;
        width: 90%;
        margin-top: 3em;
        background-position: center;
      }

      .demostrate-actions {
        background: white;
        padding: 1em;
        width: 20em;
        border-radius: 5px;
        box-shadow: 0 2px 5px #b5b3b342;
        margin-top: 1em;
      }

      .demostrate-actions.action-1 {
        margin-top: 5em;
      }

      .demostrate-actions.action-2 {
        margin-top: 9em;
        margin-left: 59%;
      }

      .bg-transparent{
        background: #F8F8F8 !important;
      }

      .demostrate-actions img.ant-image-img {
        height: 3em;
        width: 3em;
        border: 2px solid #263DBF;
        border-radius: 50%;
        margin-top: 0.4em;
      }

      .demostrate-actions svg {
        font-size: 22px;
        margin-top: 0.8em;
      }
      .demostrate-actions h5.ant-typography {
        font-weight: 700;
        color: #081459;
        font-size: 13px;
      }

      .demostrate-actions h5.ant-typography.time {
        font-weight: 300;
        font-size: 11px;
      }

      .post-types {
        background: #ffff;
        padding: 0.8em 0.8em;
        border-radius: 9px;
        height: 3.7em;
        margin-right: 1em;
        cursor: pointer;
      }

      .post-types:hover {
        transform: scale(1.06);
        transition: ease-in-out 0.4s;
      }

      .ant-page-header.navbar-content.navbar-2 {
        background: #f8f8f8fa;
        position: sticky;
        top: 57px;
      }
      .ant-page-header.navbar-content.navbar-2 h4.ant-typography {
        font-size: 12px;
        margin-top: 0.6em;
        margin-left: 1em;
        font-weight: bold;
        color: #535353;
      }

      .bg-transparent.posts-container {
        padding: 2em 7em;
        width: 100vw;
      }

      .post-container-1 {
        background: #ffff;
        padding: 1em;
        border-radius: 20px;
        box-shadow: 0 2px 4px #00000008;
        min-height: 59vh !important;
        width: 36vw;
      }

      .post-container-1 h2.ant-typography {
        font-size: 15px;
        margin-top: 0;
        color: #464444;
        margin-left: 1em;
      }

      .post-container-1 span.ant-typography {
        font-size: 12px;
        line-height: 23px;
        color: #535353;
      }

      .post-contents {
        height: 30vh;
        display: block;
        margin-left: 1em;
      }

      .post-container-1.post-container-2 img.ant-image-img.post-profile-pic,
      .post-container-1.post-container-2 h2
       {
        margin-left: 0em !important;
      }

      .post-container-1 img.ant-image-img.post-profile-pic {
        height: 3em;
        border-radius: 50%;
        width: 3em;
        margin-top: 0.7em;
        margin-left: 1em;
      }

      h3.ant-typography.profile-name {
        font-size: 11px;
        margin-top: 1em;
      }

      h5.ant-typography.posted-at {
        font-size: 10px;
        font-weight: 500;
        color: #464444;
        margin-top: -10px;
      }

      .ant-space.ant-space-horizontal.ant-space-align-center.post-languages {
        margin-top: 1.5em;
      }

      img.ant-image-img.cover-bg-2 {
        border-radius: 20px;
        height: 35vh;
      }

      .post-container-1 img.ant-image-img.cover-bg {
        height: 51vh;
        width: 45vw;
        margin-right: 1em;
        border-radius: 20px;
        object-fit: cover;
    }

      .margin_top_10{
        margin-top: 30px;
      }

      .post-container-1:hover {
        transform: scale(1.03);
        transition: ease-in-out 0.3s;
        cursor: pointer;
      }

      .ant-row.pad64.blog-container {
        width: 86vw;
        margin: auto;
    }
    .action {
      border: 1px solid #CECECE;
      margin-top: 4em;
      width: 3.6em;
      padding: 14px;
      border-radius: 6px;
      padding-bottom: 11px;
  }

  .action svg{
    height: 20px;
    width: 20px;
    color: #3A3E3E;
  }

  .right-actions .action {
    margin-left: 9vw;
}
.ant-col.ant-col-4.action-container {
  position: static;
}

.action:hover {
  background: #f7f7f7;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.main-post-content img{
  width: 100%;
}

.main-post-content img {
  width: 100%;
  margin: 2em 0;
}

.ant-col.ant-col-16.main-post-content {
  font-size: 18px;
}

h1.ant-typography.post-title {
  text-align: center;
  margin: 1em 0 !important;
  color: #081459;
  line-height: 48px;
}

img.ant-image-img.post-cover-bg {
  height: 67vh;
  width: 57vw;
}

pre {
  background: #081459;
  color: white;
  padding: 3em;
  font-family: 'Source Code Pro', monospace;
}

code {
  font-family: 'Source Code Pro';
}

.ant-divider.ant-divider-horizontal.post-divider {
  background: #535353;
  margin-top: 4em;
}

.comment-section h3.ant-typography {
  color: #0420BF;
  font-weight: 500;
  font-size: 22px;
  margin-top: 2em;
}

h5.ant-typography.time {
  color: #5C82F2;
  font-size: 11px;
  font-weight: 500;
}

span.ant-typography.content {
  color: #464444;
}

.comment-section img.ant-image-img.post-profile-pic {
  height: 3em;
  border-radius: 50%;
  width: 3em;
  margin-top: 0.7em;
  margin-right: 1em;
  position: relative;
  top: -3em;
  border: 1.2px solid #0420BF;
}

.demostrate-actions:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.5s;
}

.post-types-container{
    width: 81vw;
}

.post-container-1.post-container-2 {
  width: 23vw;
  min-height: 54vh;
}

.menu-icon,.mobile-post-types{
  display: none;
}

.mobile-welcome-content{
  display: none !important;
}

.web-welcome-content{
  display: block;
}

.post-languages {
  float: right !important;
}

.post-actions-container {
  position: sticky;
  top: 116px;
}

.ratings-container {
  background: white;
  padding: 9px;
  border: 1px solid #00000033;
  border-radius: 50%;
  height: 3em;
  width: 3em;
  text-align: center;
  position: relative;
  top: -39px;
  box-shadow: 0 2px 4px #00000026;
  font-weight: 700;
  left: 7px;
  margin-bottom: -37px;
}

  .ppt-container{
    padding: 7em;
    height: 100vh;
    width: 100vw;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.486), rgba(0, 0, 0, 0.486)),url('https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: cover;
    background-position: center;
  }

  .ppt-container-2{
    padding: 7em;
    height: 100vh;
    width: 100vw;
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.952)),url('https://images.pexels.com/photos/705164/computer-laptop-work-place-camera-705164.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') !important;
    background-size: cover;
    background-position: center;
    color: #e5e5e5d7;
  }

  .ppt-container-2 h1.ant-typography {
    text-align: center;
    color: #e5e5e5c7;
  }

  .ppt-container-2 p {
    font-size: 1.4em;
    font-weight: 100 !important;
    text-align: center;
    margin: 26px 0 !important;
  }

  .ppt-container-2 h2.ant-typography {
      color: #b3b3b3;
      text-align: center;
  }

  .ppt-container-2 ul{
    margin-left: 11vw;
  }

  .ppt-container h1.ant-typography.post-title {
    position: relative;
    top: 57vh;
    color: #FFFFFF;
    line-height: 65px;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.speed-container {
    background: #ffffffdc;
    padding: 18px;
    border-radius: 50%;
    border: 2px solid #707070; 
    height: 8vh;
    cursor: pointer;
}
  .ant-space.ant-space-horizontal.ant-space-align-center.speed-container svg {
    height: 19px;
    width: 19px;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.text-content {
    background: #ffffff26;
    width: 75vw;
    margin-left: 2vw;
    height: 6vh;
    text-align: center !important;
    margin: 0 100px !important;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.speech-to-text-translator {
    position: absolute;
    top: 87vh;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.text-content p{
    font-size: 13px !important;
    text-align: center !important;
    color: #b1b1b1f2 !important;
    margin: 0 12em !important;
  }

  .ant-space.ant-space-horizontal.ant-space-align-center.text-content p strong{
    color: #fff !important;
  }
  

  img.ant-image-img.post-cover-bg-ppt {
    width: 84vw;
    height: 75vh;
  }



/* Small screen devices (600px and above) */
@media only screen and (max-width: 595px){

  .ant-space.ant-space-horizontal.ant-space-align-center{
    display: block;
  }

  .mobile-welcome-content{
    display: block !important;
  }
  
  .web-welcome-content{
    display: none !important;
  }

  .mobile-post-types {
    display: block;
    position: sticky;
    top: 67px;
    z-index: 9;
    background: #f8f8f8eb;
    height: 14vh;
}

  .menu-icon{
    display: block;
    margin-right: -7px !important;
  }

  .post-languages {
    float: right !important;
  }

  .post-container-1{
    width: 83vw;
  }

  /* .demostrate-actions{ display: none;} */
  .bg-transparent.posts-container {
    padding: 0 2em;
  }
  .ant-page-header.navbar-content.navbar-2.ant-page-header-compact {
    display: none;
  }

  img.ant-image-img.cover-bg {
    width: 100% !important;
    height: 35vh !important;
  }
  span.ant-typography.post-description {
    display: none;
  }

  .post-container-1.post-container-2 {
    width: 83vw;
    margin-top: 3em;
  }

  .profile-details {
    display: inline-flex !important;
  }
  .ant-space.ant-space-horizontal.ant-space-align-center.post-languages {
    display: inline-flex;
  }
  .ant-space.ant-space-horizontal.ant-space-align-center.post-container-1.margin_left_10.margin_right_10 {
    margin: 3em 0;
  }
  .margin_top_10 {
    margin-top: 0px;
  }

  .ant-page-header.navbar-content.ant-page-header-compact {
    padding: 1em 34px;
  }
  span.ant-page-header-heading-extra button {
    display: none;
  }

  .ant-space.ant-space-post-types {
    background: #fff;
    padding: 9px;
    border-radius: 10px;
    margin-top: 17px;
  }
  .ant-space.ant-space-post-types h4.ant-typography {
    font-size: 13px !important;
    margin-top: 12px !important;
  }

  .ant-space.ant-space-post-types svg {
    margin-top: 15px !important;
  }
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right,
  button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left {
    background: #d9d9d9;
    margin-top: 14px;    
  }
  .ant-row.welcome-content {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid red;
  }
  .ant-row.welcome-content {
    padding: 0 31px;
  }
  .ant-space.ant-space-vertical.welcome-content.mobile-welcome-content {
    margin: 0 !important;
    padding: 1em 2em;
  }
  .demostrate-actions img.ant-image-img {
    height: 26px;
    width: 26px;
  }
  .demostrate-actions h5.ant-typography {
    font-weight: 700;
    color: #081459;
    font-size: 7px;
  }
  .demostrate-actions h5.ant-typography.time {
    font-weight: 300;
    font-size: 7px;
  }
  .demostrate-actions svg {
    font-size: 12px;
    margin-top: 0.9em;
  }

  .demostrate-actions {
    width: 38vw;
    height: 7vh;
    padding: 7px;
  }
  .welcome-content .right-content {
    background-position: 50px;
    margin-top: -86px !important;
  }

  .demostrate-actions.action-1 {
    position: relative;
    top: 10vh;
  }
  .demostrate-actions.action-3 {
    position: relative;
    top: -2em;
  }

  svg#heart-add-fill {
    height: 15px;
    width: 3vw;
  }

  .demostrate-actions.action-2 {
    position: relative;
    top: -2em;
  }

  .welcome-content h1.ant-typography {
    margin-top: 14px !important;
    font-size: 18px !important;
  }

  .welcome-content h3.ant-typography {
    font-size: 11px;
  }

  .welcome-content button.ant-btn {
    width: 43vw;
    font-size: 10px;
    height: 8vh;
  }

  .post-contents {
    display: none;
  }

  .post-container-1 img.ant-image-img.post-profile-pic,
  .post-container-1 h2
  {
        margin-left: 0em !important;
  }
}